name: Linux

on:
  pull_request: {}
  push:
    branches: master

jobs:
  test:
    strategy:
      matrix:
        platform:
          - ubuntu-latest
        toolchain:
          - stable
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('Cargo.lock') }}
      - uses: actions/cache@v1
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-index-${{ hashFiles('Cargo.lock') }}
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          profile: minimal
          override: true
      # multiple additional targets are not supported, so we invoke the action multiple times
      # Feature request: https://github.com/actions-rs/toolchain/issues/165
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          profile: minimal
          target: "i686-unknown-linux-gnu"
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          profile: minimal
          target: "x86_64-unknown-linux-musl"
      - name: "Test on the native x86_64-unknown-linux-gnu"
        run: cargo test --all-features --workspace
      - name: "Test cross-compiling to x86_64-unknown-linux-musl"
        env:
          AUDITABLE_TEST_TARGET: "x86_64-unknown-linux-musl"
        run: cargo test --all-features --workspace
      - name: "Install the 32-bit GCC toolchain"
        run: sudo apt-get install gcc-multilib
      - name: "Test cross-compiling to i686-unknown-linux-gnu"
        env:
          AUDITABLE_TEST_TARGET: "i686-unknown-linux-gnu"
        run: cargo test --all-features --workspace
